header{
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
}

.mid-search{
    display: flex;
    margin: auto 0px;
    height: 40px;
    padding-top: 15px;
    
}

.mid-search input {
    border: 2px;
    outline: 2px;
    background-color: #FFFFFF;
    height: 100%;
    padding: 0px 10px;
    font-size: 0.9rem;
    width: 300px;
}

.left {
  background-color: #1e90ff;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
}

.mid{
text-align: center;
align-self: center;

}

.right .mid{
    list-style-type: none;
   
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.menu {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-bottom: 30px;
    display: none;
}

ul{
    display: flex;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

li{
    margin-left: 20px;
    
}

a{
    color:#fff;
    text-decoration : none;
}

.right a:hover, .mid a:hover {
color: black;
}

.container {
display: grid;
grid-template-columns: 55% 45%;
font-size: 14px;
margin-right:15%;
margin-left: 15%;
}

.container img {
    width: 100%;
}


.movie_right {
    display: grid;
    margin: 20px;
    grid-column: 2;
    grid-template-columns: 50% 50%;
}

.avengers {
    grid-column: 1;
    border: 1px solid lightgray;
    box-shadow: 0.5px 1px lightgray;
}

.gunmen {
grid-column: 1;
border: 1px solid lightgray;
align-self: center;
box-shadow: 0.5px 1px lightgray;
margin-right: 10px;
}

.preds {
grid-column: 2;
border: 1px solid lightgray;
align-self: center;
box-shadow: 0.5px 1px lightgray;
margin-right: 10px;
}

.mills{
grid-column: 1;
border: 1px solid lightgray;
align-self: center;
box-shadow: 0.5px 1px lightgray;
margin-right: 10px;
margin-top: 2px;
}

.rage{
grid-column: 2;
border: 1px solid lightgray;
align-self: center;
box-shadow: 0.5px 1px lightgray;
margin-right: 10px;
}

p {
font-size: 12px;
font-family:Arial, Helvetica, sans-serif ;  }

button{
    font-size: 0.75rem;
    background-color: #1e90ff;
    color: white;

    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: 0px;
    margin: 20px 10px 10px 180px;
}

.button_imp {
    background-color: #1e90ff;
    border: 0px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 30vw;
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
    width: 100px;
}

.avengers button{
    align-self: flex-end;
}

.gunmen button{
    align-content: flex-end;
}

footer{
    text-align: center;
}

@media (width<=1280px){
    .left{
        margin:auto;
    }
    .mid{
        margin:auto;
    }
    .right{
        margin:auto;
    }
    }
    .container {
        margin: auto;
    }
    .movie_right{
        margin: auto;
    }
    .menu-top {
        display: block;
    }
    .menu {
        display: none;
    }

@media (width<=1024px){
    .left{
        margin:auto;
    }
    .mid{
        margin:auto;
    }
    .right{
        margin:auto;
    }
    .movie_right{
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        }
    .container {
        margin: auto;
    }
    .menu-top {
        display: block;
    }
    .menu {
        display: none;
    }

    
}

@media (width<=800px){
    .left{
        margin:auto;
    }
    .mid{
        margin:auto;
    }
    .right{
        margin:auto;
    }
    .container {
        margin: auto;
    }

    .left_movie{
        display:grid;
        grid-column: 1; 
        grid-template-columns: 100%;
        margin: auto;  
    }
    .movie_right{
        display:grid;
        grid-column: 1; 
        grid-template-columns: 50%;
        margin: auto;  
    }
    .gunmen{
        padding-top: 20%;
        border-right: 20px;
    }
    .preds{
        padding-bottom: 19%;
        margin-right: 0.5%;
    }
    .mills{
        margin-top: 0%;
    }
    .mid-search{
        display:none;
    }
    .menu-top{
        display: none;
    }
    .menu{
        display: block;
    }
  
}
@media (width<=480px){
    .left{
        margin:auto;
    }
    .mid{
        margin:auto;
    }
    .right{
        margin:auto;
    }
    .movie_right{
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 265px;
    }
    .mid-search{
        display:none;
    }
    .menu-top {
        display: none;
    }
    .menu{
        display: block;
    }

    

}